/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

#index-banner {
  background-image: url('../background_1_blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-fixed { z-index: 9997; }

.modal.open {
  z-index: 9999 !important;
}

.modal-overlay {
  z-index: 9998 !important;
}

nav {
  transition: background-color 200ms linear;
}

.nav-text {
  transition: color 200ms linear;
}

html {
  background-color: #d32f2f;
}


.row-full{
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: auto;
  left: 50%;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 90vh;
  line-height: auto;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.sponsor-img {
  display: inline-block;
}

.sponsor-text {
  height: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
